<h3>Hi, USERNAME</h3>

<p>
    <h3>win: win %</h3>
    <h3>lose: lose %</h3>
</p>
<!--<button ui-sref="start" class="btn">Start a new game</button>-->
<!--<div ng-repeat="game in main.games | orderBy: 'name1' ">
    <h2 ng-hide="main.games[$index - 1].name1 == game.name1">{{ game.name1 }}</h2>
    <h3 ng-hide="main.games[$index - 1].name1 == game.name1 && main.games[$index - 1].time | date:'EEEE' == game.time | date:'EEEE'">{{ game.time | date:'EEEE' }}</h3>
    {{ game.score1 }} : {{ game.score2 }} {{ game.name2 }}
</div>-->


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Latest games</h3>
    </div>
    <div class="list-group-item" ng-repeat="game in main.games track by $index">
        {{ game.opponentName }} {{ game.opponentScore }} : {{ game.playerScore }} Me
    </div>
</div>

