<h1>Efficiency of the last month</h1>

<div class="alert alert-success"><strong>win:</strong> {{ main.getWinPercent() | number:2 }} %</div>
<div class="alert alert-danger"><strong>lose:</strong> {{ main.getLosePercent() | number:2 }} %</div>


<h1>Latest games</h1>


<table class="table table-hover">

    <tr>
        <th class="text-center">Name opponent</th>
        <th class="text-center">Opponent score</th>
        <th class="text-center"></th>
        <th class="text-center">Your score</th>
        <th class="text-center">Date</th>
        <th></th>
    </tr>

    <tr ng-class="{'success': main.isWin(game), 'danger': !main.isWin(game)}"
        class="text-center"
        ng-repeat="game in main.games track by $index">

        <td ng-class="{'vert-align': !main.editingData[$index]}">
            <div ng-hide="main.editingData[$index]">{{ game.opponentName }}</div>
            <div ng-show="main.editingData[$index]"><input class="form-control" type="text" ng-model="game.opponentName"/></div>
        </td>

        <td ng-class="{'vert-align': !main.editingData[$index]}">
            <div ng-hide="main.editingData[$index]">{{ game.opponentScore }}</div>
            <div ng-show="main.editingData[$index]"><input type="number" class="form-control" max="21" min="0" ng-model="game.opponentScore"/></div>
        </td>

        <td ng-class="{'vert-align': !main.editingData[$index]}"> :</td>

        <td ng-class="{'vert-align': !main.editingData[$index]}">
            <div ng-hide="main.editingData[$index]">{{ game.playerScore }}</div>
            <div ng-show="main.editingData[$index]"><input  type="number" class="form-control" max="21" min="0" ng-model="game.playerScore"/></div>
        </td>


        <td ng-class="{'vert-align': !main.editingData[$index]}">
            <div ng-hide="main.editingData[$index]">{{(game.time | date:'dd.MM.yyyy') || 'empty'}}</div>
            <div ng-show="main.editingData[$index]">

                <p class="input-group">
                    <input class="form-control" type="date"  ng-model="game.time"/>

                </p>
            </div>
        </td>

        <td>

            <button class="btn btn-link" ng-hide="main.editingData[$index]" ng-click="main.modify($index)">Edit</button>
            <button  class="btn btn-success" ng-show="main.editingData[$index]" ng-click="main.update($index)">Save</button>

        </td>

    </tr>

</table>
