<h3>Add new game result</h3>
<form ng-submit="start.save()">

    <label class="form-group">opponent name:
        <input class="form-control" type="text"
               ng-model="start.opponentName"
               uib-typeahead="state for state in start.getAllOpponentName() | filter:$viewValue | limitTo:8"></label>

    <label class="form-group" >my score: <input class="form-control" type="number" ng-model="start.playerScore" max="21" min="0"></label>
    <label class="form-group">opponent score: <input class="form-control" type="number" ng-model="start.opponentScore" max="21" min="0"></label>

    <button type="submit" class="btn btn-primary">Save</button>
</form>


